<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      
      <add key="MonitoredPrintersCount" value="1"/>
      <!--
      <add key="MonitoredPrinter1" value="Generic / Text Only"/>
      -->
      <add key="MonitoredPrinter1" value="Bullzip PDF Printer"/>
      
      <!-- Monitored printers collection 
      <monitoredprinters>
         <monitoredprinter DeviceName="HP LaserJet 5L"/>
         <monitoredprinter DeviceName="Microsoft Office Document Image Writer"/>
      </monitoredprinters>
      -->
    </appSettings>
    <system.diagnostics>
       <switches>
          <!-- Printer Monitor Component tracing : values can be
                 Off=0
                 Error=1
                 Warning=2
                 Info=3
                 Verbose=4
          -->
          <add name="PrinterMonitorComponent" value="4"/>
          <add name="Application" value="0"/>
       </switches>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
